/* body {
    background-image: url('https://dhosting.com/assets/gfx/img/backgrounds/header-bg-2.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */